
.mobile-menu{

    cursor: pointer;

    @include tablet{
        display: none;
    }

    img{
        width: 5rem;
    }
}

.view{
       visibility: visible;
       opacity: 1;
       height: auto;    
}